<div class="navigation">
    <ul>
        <li>
            <a href="#">
                <span class="icon">
                    <img class="large-logo" src="img/Logo fabes blanco.png" alt="Large Logo">
                    <img class="small-logo" src="img/Icono fabes blanco.png" alt="Small Logo">
                </span>
            </a>
        </li>
        <li>
            <NavLink href="/">
                <span class="icon">
                    <ion-icon name="home-outline"></ion-icon>
                </span>
                <span class="title">Inicio</span>
                <i class="fas fa-chevron-down inicio-icon"></i>
            </NavLink>
        </li>
        <li>
            <NavLink href="/weather">
                <span class="icon">
                    <ion-icon name="people-outline"></ion-icon>
                </span>
                <span class="title">Usuario</span>
                <i class="fas fa-chevron-down usuario-icon"></i>
            </NavLink>
        </li>
        <li>
            <a href="#">
                <span class="icon">
                    <ion-icon name="card-outline"></ion-icon>
                </span>
                <span class="title">Adm Créditos</span>
                <i class="fas fa-chevron-down adm-icon"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon">
                    <ion-icon name="pie-chart-outline"></ion-icon>
                </span>
                <span class="title">Reportes</span>
                <i class="fas fa-chevron-down reportes-icon"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon">
                    <ion-icon name="logo-usd"></ion-icon>
                </span>
                <span class="title">Prestamos</span>
                <i class="fas fa-chevron-down prestamos-icon"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon">
                    <ion-icon name="folder-outline"></ion-icon>
                </span>
                <span class="title">Administración</span>
                <i class="fas fa-chevron-down administracion-icon"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon">
                    <ion-icon name="phone-portrait-outline"></ion-icon>
                </span>
                <span class="title">Mobile</span>
                <i class="fas fa-chevron-down mobile-icon"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon">
                    <ion-icon name="settings-outline"></ion-icon>
                </span>
                <span class="title">Configuración</span>
                <i class="fas fa-chevron-down confi-icon"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon">
                    <ion-icon name="log-out-outline"></ion-icon>
                </span>
                <span class="title">Cerrar Sesión</span>
            </a>
        </li>
    </ul>
</div>

